<div class="card" (click)="irDashboard( cancion )" *ngFor="let cancion of canciones">
  <div class="card__image-container">
    <img class="card__image" src="{{ cancion.images | image}}" alt="">
  </div>

  <svg class="card__svg" viewBox="0 0 800 500">

    <path d="M 0 100 Q 50 200 100 250 Q 250 400 350 300 C 400 250 550 150 650 300 Q 750 450 800 400 L 800 500 L 0 500"
      stroke="transparent" fill="#333" />
    <path class="card__line" d="M 0 100 Q 50 200 100 250 Q 250 400 350 300 C 400 250 550 150 650 300 Q 750 450 800 400"
      stroke="pink" stroke-width="3" fill="transparent" />
  </svg>

  <div class="card__content">
    <h1 class="card__title">Canción: {{  cancion.name }} </h1>
    <p style="color:aliceblue; margin-bottom: -.09em;"> Artistas </p>
    <span class="badge badge-pill badge-success" *ngFor="let artista of cancion.artists"> {{ artista.name }} </span>
  </div>
</div>